In [16]:
import pandas as pd
import numpy as np

In [17]:

db = pd.read_csv('../data/AdSmartABdata.csv')
db.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [18]:
db.columns.tolist()

['auction_id',
 'experiment',
 'date',
 'hour',
 'device_make',
 'platform_os',
 'browser',
 'yes',
 'no']

In [19]:
def delete_users(data):
    cleand_df = data.query("not(yes==0 & no==0)")
    return cleand_df

df = delete_users(db)

In [20]:
def split_data(x:str):
    new_df = df.groupby([x])
    b_sample = new_df['experiment'].count() > 50
    b_sample = b_sample[b_sample == True].index
    browser_df = {}
    for browser in b_sample:
        x_df = df.query(f"browser=='{browser}'").reset_index(drop = True)
        browser_df[browser]= x_df
    return browser_df

In [21]:
b_dict = split_data('browser')
b_dict.keys()

dict_keys(['Chrome Mobile', 'Chrome Mobile WebView', 'Facebook', 'Samsung Internet'])

In [58]:
def version_split(k:str,f_name:str):
    b_df=b_dict.get(k)
    b_df.to_csv('../data/{}AdSmartABdata.csv'.format(f_name))

In [67]:
version_split('Chrome Mobile','Chrome_Mobile')
version_split('Chrome Mobile WebView','Chrome_WebView')
version_split( 'Facebook', 'Facebook')
version_split('Samsung Internet', 'samsug_internet')

In [62]:
#group by platform
by_platform = df.groupby('platform_os')

In [70]:
p_df = by_platform.get_group(6).reset_index(drop=True)
p_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
1,008aafdf-deef-4482-8fec-d98e3da054da,exposed,2020-07-04,16,Generic Smartphone,6,Chrome Mobile,1,0
2,00a1384a-5118-4d1b-925b-6cdada50318d,exposed,2020-07-06,8,Generic Smartphone,6,Chrome Mobile,0,1
3,00b6fadb-10bd-49e3-a778-290da82f7a8d,control,2020-07-08,4,Samsung SM-A202F,6,Facebook,1,0
4,00ebf4a8-060f-4b99-93ac-c62724399483,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,1

In [71]:
p_df.to_csv('../data/platform_6_AdSmartABdata.csv')

In [72]:
p_df = by_platform.get_group(5).reset_index(drop=True)
p_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,23b2028c-72ed-43b3-a2d7-d772b2d4d478,exposed,2020-07-03,8,iPhone,5,Mobile Safari,0,1
1,54a62f37-0c4d-4300-a063-1c6aa99244e5,control,2020-07-03,15,iPhone,5,Mobile Safari,0,1
2,54a68ad2-eed9-408e-9088-ddecfa64b0fd,control,2020-07-03,15,iPhone,5,Mobile Safari UI/WKWebView,0,1
3,688aaac1-535e-417a-a8d4-a529b033cbfa,control,2020-07-04,3,iPhone,5,Mobile Safari,1,0
4,7c003bed-32c3-4236-abf0-f571debe769b,exposed,2020-07-05,3,iPhone,5,Mobile Safari,1,0

In [73]:
p_df.to_csv('../data/platform_5_AdSmartABdata.csv')

In [26]:
dg = pd.read_csv('../data/split_AdSmartABdata.csv')
dg.count()
#dg.head()

Unnamed: 0     227
auction_id     227
experiment     227
date           227
hour           227
device_make    227
platform_os    227
browser        227
yes            227
no             227
dtype: int64

In [126]:
dg = pd.read_csv('../data/split2_AdSmartABdata.csv')
dg.count()

Unnamed: 0     17
auction_id     17
experiment     17
date           17
hour           17
device_make    17
platform_os    17
browser        17
yes            17
no             17
dtype: int64